:root {
  --size: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  background-color: #2f363e;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}

.container .notes {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

.container .notes .note {
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: #f7e98d;
  padding: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
  font-family: 'Handlee', cursive;
}

.container .notes .note::before {
  content: "Double click to remove this note.";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 3px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85em;
  opacity: 0;
  transition: 0.5s;
}

.container .notes .note:hover::before {
  opacity: 1;
}

#create {
  position: relative;
  width: var(--size);
  height: var(--size);
  background-color: rgba(255, 255, 255, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6em;
  cursor: pointer;
}

#create i {
  position: absolute;
  color: #fff;
}

.createBox {
  position: relative;
  width: var(--size);
  height: var(--size);
  z-index: 1000;
  display: none;
}

.createBox textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--size);
  height: var(--size);
  padding: 20px;
  outline: none;
  font-size: 0.2em;
  resize: none;
}

.details h3 {
  font-family: 'Handlee', cursive;
  user-select: none;
  font-size: 1.45em;
}